@using Helperland.Models.Data;
@model IEnumerable<ServiceRequest>
<head>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">*@
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/Admin.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

</head>
<style>
    span.stars, span.stars span {
        display: block;
        background: url(../images/star1.png) 0 -16px repeat-x;
        width: 170px;
        height: 16px;
    }

        span.stars span {
            background-position: 0 0;
        }
</style>
<div>

    <p class="Service-history-heading ">
        Current Service Request
        <button type="button" class="export-button" style="width:180px;" onclick="rats();">Add New Request</button>
    </p>
</div>
<table class="example table upcoming-table" id="tableDashboard" style="width: 100%;">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Service Date</th>
            <th>Service Provider</th>
            <th>Payment</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var add in Model)
        {
            @if (add.Status != 3 && add.Status != 1 && add.ServiceStartDate > System.DateTime.Now)
            {


                DateTime dt = add.ServiceStartDate;               //Gets the current date
                string datetime = dt.ToString();          //converts the datetime value to string
                string[] DateTime = datetime.Split(' ');  //splitting the date from time with the help of space delimeter
                string Date = DateTime[0];                //saving the date value from the string array
                string Time = DateTime[1];
                string[] time = Time.Split(':');
                string clocktime = time[0] + ":" + time[1];


                var Extrahour = Convert.ToDouble(add.ExtraHours);
                var Extratime = add.ServiceHours + Extrahour;
                //  DateTime dts = Convert.ToDateTime(Extratime);
                DateTime end = Convert.ToDateTime(clocktime);
                DateTime watch = end.AddHours(Extratime);

                string Endtime = watch.ToString();

                string[] d = Endtime.Split(' ');
                string endt = d[1];
                string[] endda = endt.Split(':');

                string totaltime = endda[0] + ":" + endda[1];

                //var Extratime = add.ServiceHours + add.ExtraHours;
                //string Endtime = Extratime.ToString();
                //string totaltime = clocktime + Endtime;
                <tr class="customer-table-data" id="serviceid">

                    <td onclick="ShowDetails(@add.ServiceRequestId);" data-toggle="modal" data-target=".ServiceDetails" id="SrId">@Html.DisplayFor(modelitem => add.ServiceRequestId)</td>
                    <td class="service-detail" onclick="ShowDetails(@add.ServiceRequestId);" data-toggle="modal" data-target=".ServiceDetails">
                        <div>
                            <img src="~/images/calendar.png">
                            <b>@Html.DisplayFor(modelitem => Date)</b>
                        </div>
                        <div>
                            @Html.DisplayFor(modelitem => clocktime)- @Html.DisplayFor(modelitem => totaltime)
                        </div>
                    </td>
                    <td>
                        @if (add.ServiceProvider != null)
                        {
                            <div>
                                <img src="~/images/@add.ServiceProvider.UserProfilePicture"  style="width : 50px !important; height : 50px !important;">
                                @Html.DisplayFor(modelitem => add.ServiceProvider.FirstName) @Html.DisplayFor(modelitem => add.ServiceProvider.LastName)
                            </div>
                            <div class="stars" data-rating="3" data-num-stars="5"></div>
                                
                                @*<span>@add.ServiceProvider.RatingRatingToNavigations.Average(x => x.Ratings)</span>*@
                          
                        }


                        else
                        {
                            <p></p>
                        }






                    </td>

                    <td data-toggle="modal" data-target=".ServiceDetails" onclick="ShowDetails(@add.ServiceRequestId);">
                        <p class="euro-currency">€<b class="rupee">@Html.DisplayFor(modelitem => add.TotalCost)</b></p>
                    </td>
                    <td class="row">
                        <button type="button" class="reschedule-button">
                            @*@Html.HiddenFor(modelItme => add.ServiceRequestId)*@
                            <a href="#" data-toggle="modal" data-target="#RescheduleModal" onclick="Reschedule(@add.ServiceRequestId)" style="color:white">Reschedule</a>

                        </button>
                        <button type="button" class="cancel-button" style=" margin-top:20px; width : 80px; margin-left:5px;">
                            <a href="#" data-toggle="modal" data-target="#CancelModal" onclick="Cancle(@add.ServiceRequestId)" style="color:white; ">Cancel</a>
                        </button>
                    </td>



                </tr>

            }


        }




    </tbody>

</table>

<div class="modal" id="RescheduleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:#646464;"><b>Reschedule Service Request</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label style="color:#646464;">Select New Date And Time</label>
                <div class="row">
                    <div class="col-6">
                        <input id="scheduleddate" type="date" class="birthdate" name="reschedule-date" />
                    </div>
                    <div class="col-6">
                        <select id="scheduledtime" name="RescheduleTime" class="birthdate">
                            <option value="02:00:00">2:00</option>
                            <option value="03:00:00">3:00</option>
                            <option value="04:00:00">4:00</option>
                            <option value="05:00:00">5:00</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" value="" name="serviceId" class="savecomputer-btn " style="width:100%;" onclick="Update(this.value)" id="update"><b>Update</b></button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>

</div>


<div class="modal" id="CancelModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:#646464;"><b>Cancel Service Request</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label style="color:#646464;">Why you want to cancel the service request?</label>
                <div class="row">
                    <div class="col-12">
                        <textarea name="comment" rows="3" style="width: 100%; border-radius: 4px; border-color:#646464;"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="cancle" value="" class="savecomputer-btn" onclick="CancleNow(this.value);" style="width:100%;"><b>Cancel Now</b></button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>


<!--service details modal-->
<div class="container Servicedetails-modal">
    <div class="modal ServiceDetails">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center">Service Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <span id="date"></span>
                        <span id="time"></span>
                        <p><b>Duration:</b><span id="duration">&nbsp;</span></p>
                    </div>
                    <hr>
                    <div>
                        <p><b>ServiceId: </b> <span id="ID"></span></p>
                        <p><b>Extras: </b> <span id="Extra"></span></p>
                        <p><b>Net Amount:</b> <span class="amt" id="NetAmount">&nbsp;</span></p>
                    </div>
                    <hr>
                    <div>
                        <p><b>Service Address:</b> <span id="ServiceAddress">&nbsp;</span></p>
                        <p><b>Billing Address:</b> <span>&nbsp;Same as Service Address</span></p>
                        <p><b>Phone: </b> <span id="Phone">&nbsp;</span></p>
                        <p><b>Email: </b> <span id="Email">&nbsp;</span></p>
                    </div>
                    <hr>
                    <div>
                        <p><b>Comments</b></p>
                        <span id="Comments">I don't have Pets at home</span>
                    </div>
                    <hr>
                    <div class="row pt-2">

                        <div class="col-sm-3">
                            <button type="button" data-toggle="modal" data-target="#RescheduleModal" id="Reschedule_Btn" value="" class="rounded-pill border border-1 text-center reschedulebtn" onclick="Reschedule(this.value)">Reschedule</button>
                            @*<button type="button" ><a href="#" data-toggle="modal"   data-target="#RescheduleModal" value="" onclick="Reschedule(this.value)" style="color:white">Reschedule</a></button>*@
                        </div>


                        <div class="col-sm-3">
                            <button type="button" class="rounded-pill border border-1 text-center canclebtn" data-toggle="modal" data-target="#CancelModal" id="Cancel_Btn" value="" onclick="Cancle(this.value);">Cancle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript">

   

     //$(function () {
     //    $('.moon').stars(3);
     //  });

 //   function rats(){
 //       $("#av").stars(3);
 //   }

 //$.fn.stars = function (rating) {
 //    return $(this).each(function () {
 //        /* var rating = $(this).data("rating");*/
 //        var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fas fa-star" style="color : #FFD700"></i>');
 //        var halfStar = ((rating % 1) !== 0) ? '<i class="fas fa-star-half-alt" style="color : #FFD700"></i>' : '';
 //        var noStar = new Array(Math.floor($(this).data(5) + 1 - rating)).join('<i class="fas fa-star" style="color : #e0e0e0"></i>');
 //        $(this).html(fullStar + halfStar + noStar);
 //    });
 //}

    //$.fn.stars = function () {
    //    return $(this).each(function () {
    //        // Get the value
    //        var val = parseFloat($(this).html());
    //        //val = Math.round(val) ;
    //        // Make sure that the value is in 0 - 5 range, multiply to get width
    //        var size = Math.max(0, (Math.min(5, val))) * 16;
    //        // Create stars holder
    //        var $span = $('<span />').width(size);
    //        // Replace the numerical value with stars
    //        $(this).html($span);
    //    });
    //}

    //$(function () {
    //    $('span.stars').stars();
    //});

    function ShowDetails(ServiceRequestId) {

        $.post("/Customer/CustomerServiceDetail", { Id: parseInt(ServiceRequestId) }, function (data) {

            $("#ID").html(data.id);

            $("#Extra").html(data.extra);

            $("#NetAmount").html(data.netamount);
            $("#ServiceAddress").html(data.serviceaddress);
            $("#Phone").html(data.phone);
            $("#Email").html(data.email);
            $("#Comments").html(data.comments);
            $("#date").html(data.servicedate);
            $("#time").html(data.servicetime);
            $("#duration").html(data.duration);
            $("#Reschedule_Btn").prop("value", data.id);
            $("#Cancel_Btn").prop("value", data.id);

        });


    }

    function Reschedule(ServiceRequestId) {
        $(".ServiceDetails").modal('hide');
        $("#update").prop("value", ServiceRequestId);

        $.post("/Customer/RescheduleGetDetail", { Id: parseInt(ServiceRequestId) }, function (data) {


            $("#scheduleddate").text(data.date);
            $("#scheduledtime").val(data.time);

        });




    }

    function Update(val) {
        if ($("#scheduleddate").val() == "" && $('#scheduledtime').val() == "") {
            alert("Please Select Date and Time");
        }

        else {

            var ServiceStartDate = $("#scheduleddate").val() + " " + $("#scheduledtime").val();
            $.post("/Customer/UpdateService", { Id: parseInt(val), ServiceDateTime: ServiceStartDate }, function (data) {

                if (data) {
                    // alert("Update Successfully!!");
                    $("#RescheduleModal").modal('hide');
                    location.reload();

                }
                else {
                    alert("This service reschedule date and time conflict with other service of the service provider so not reschedule this service.please change time and date");
                }

            });
        }
    }

    function Cancle(ServiceRequestId) {
        $(".ServiceDetails").modal('hide');
        $("#cancle").prop("value", ServiceRequestId);

    }

    function CancleNow(val) {
        $.post("/Customer/CancleService", { Id: parseInt(val) }, function (data) {

            if (data) {
                // alert("Update Successfully!!");
                $("#CancelModal").modal('hide');
                location.reload();
                //$("#tableDashboard").show();
            }

        });
    }






</script>